.cart-container {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    animation: revealFromRight .5s ease-in-out;
}

.shopping-cart {
    background: white;
    /*width: 500px;*/
    border-left: 1px solid lightgrey;
    border-left: 1px solid grey;;
    position: relative;
    padding: 20px 0;

    & > .toggle {
        position: absolute;
        left: -20px;
        top: 20px;
        color: #222222;
        background: white;
        border: 1px solid grey;

        &:hover {
            background: white;
        }
    }

    & .pay-button {
        color: black;
        margin-left: 10px;
    }

    & .cart-items {
        margin: 50px 0;
        line-height: 1.4;
        display: flex;
        flex-direction: column;
        gap: 10px;

        & li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            position: relative;
            border-bottom: 1px solid gray;

            & > button {
                position: absolute;
                right: 0;
                top: -10px;
                font-size: 10px;
                padding: 5px;
                background: white;
                color: black;
                font-weight: bold;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            }
        }

        & img {
            aspect-ratio: 1/1;
            width: 70px;
        }
    }
}

@keyframes revealFromRight {
    from {opacity: 0} to {opacity: 100%}
}

table.iksweb{
    border-collapse:collapse;
    margin: 30px 0;

    & img {
      width: 50px;
        aspect-ratio: 1/1;
    }
}
table.iksweb,table.iksweb td, table.iksweb th {
    border: 1px solid #595959;
}
table.iksweb td,table.iksweb th {
    padding: 3px;
    /*width: 30px;*/
    /*height: 35px;*/
    &.counter {
        & b {
            margin: 0 3px;
        }
        & button {
            font-size: 10px;
            padding: 5px;
        }
    }

}
table.iksweb th {
    background: #347c99;
    color: #fff;
    font-weight: normal;
    white-space: nowrap;
}