.catalog {
    padding: 100px 0;
    background-color: #f7f7f78f;
    & h3 {
        color: #222222;
        font-size: 30px;
        margin-bottom: 15px;
        display: inline-block;
        position: relative;
        z-index: 2;
        overflow: hidden;
        padding: 0 10px;
        line-height: 1.4;

        &:before {
            position: absolute;
            content: '';
            background: #ffc454;
            z-index: -1;
            height: 12px;
            left: -12%;
            right: -12%;
            top: 60%;
            transform: translateY(-50%);
            margin: auto;
        }
    }

    & .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        justify-items: center;
        gap: 20px;
    }
}