* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: .9rem;
}

*::-webkit-scrollbar-track {
    background: lightgrey;
    border-radius: 1.6rem;
    margin: .2rem 0;
}

*::-webkit-scrollbar-thumb {
    background: #2bbef9;
    border: 3px solid lightgrey;
    border-radius: 1.6rem;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-family: inherit;
}

body {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: clamp(30px, 10vw, 90px);
    display: inline-block;
    color: white;
}

.leckerli-one-regular {
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #efc12f;
    font-size: clamp(15px, 10vw, 30px);
}


.App {
    text-align: center;
    position: relative;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}